extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let teaid = toShow._id 
    - let tea_type = toShow.tea_type 
    - let cost = toShow.cost 
    - let size = toShow.size 
    - let actionid = "/resource/teas/" + teaid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='teaAttr mr-3') Tea ID is: 
        div #{teaid} 
      div.row 
        div(class='teaAttr mr-3') Tea Type is: 
        div #{tea_type} 
      div.row 
        div(class='teaAttr mr-3') Tea Size is: 
        div #{size} 
      div.row 
        div(class='teaAttr mr-3') Tea Cost is: 
        div #{cost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the tea collection 
      window.location.href='/tea' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/tea' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 